body {
  background-color: floralwhite;
  padding: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.modal-body {
  font-size: 25px;
}

ul {
  margin-top: 10%;
  font-size: 20px;
}

.btn-danger {
  margin-top: 10px;
}
